.ui-autocomplete {
	background-color: #fff;
	position: absolute;
	cursor: default;
	list-style: none;
	margin: 0px 0 0;
	padding: 0px;
	border: 2px solid #d5d6d8;
	border-top: none;
	/* box-shadow: 0 3px 5px #888; */
	font-size: 12px;
}

.ui-autocomplete .ui-menu-item {
	clear: both;
	width: 100%;
	padding-left: 3px;
	box-sizing: border-box;
	height: 25px;
	line-height: 28px;
	font-size: 14px;
}

.ui-autocomplete.ui-menu-item a {
	display: block;
	padding: 4px 6px;
	margin: 0;
	text-decoration: none;
	line-height: 12px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #fff;
	color: #78959D;

}

.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
	background-color: #c0d1e2;
	color: #555;
	border-color: #a6cef7;
}
.ui-state-focus {
	background-color: #c0d1e2;
	color: #555;
	border-color: #a6cef7;
}
.ui-autocomplete-loading {
	/*background: white url(ui-anim_basic_16x16.gif) right center no-repeat;*/
}

ul.tagit {
	cursor: text;
	overflow: auto;
	font-size: 14px;
	width: 97%;
	/* padding: 3px; */
	margin-bottom: 4px;
	border: 2px solid #d5d6d8;
	border-radius: 3px;
	background: #fff;
	color: #333;
}

ul.tagit li {
	display: block;
	float: left;
	/*margin: 2px 5px 2px 0;*/
	position: relative;
}

ul.tagit.ui-sortable li.tagit-choice a.ui-icon.ui-icon-grip-dotted-vertical{
	float: left;
	width: 12px;
	margin-left: -5px;
	cursor: move;
}

ul.tagit li.tagit-choice {
	background: #FCECD8;
	/* background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.32,#FFF5BB),color-stop(0.66,#FDF2B1),color-stop(0.83, #FCEE9B)); */
	background-image: -moz-linear-gradient(top,#FFF5BB,#FCEE9B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5bb', endColorstr='#fcee9b');
	/* border: 1px solid #F2E598; */
	border-radius: 3px;
	padding: 2px 15px 3px 4px;
	cursor: default;
	color: #E65F28;
	font-weight: bold;
	margin: 3px;
}

ul.tagit li.tagit-choice.selected {
	background: #FFD1CC;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff3019', endColorstr = '#cf0404', GradientType = 0);
	/* border-color: #f76464; */
}

/*ul.tagit li.tagit-choice:hover {
background: #FFF5BB;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.32,#FFF57E),color-stop(0.66,#FDF2B1),color-stop(0.83, #FCEE9B));
background-image: -moz-linear-gradient(top,#FFF57E,#FCEE9B);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF57E', endColorstr='#fcee9b');
}*/

ul.tagit li.tagit-new {
	/*padding: 2px 4px 3px;
	padding: 2px 4px 1px;
	padding: 2px 4px 1px 0;*/
	margin-left: 4px;
}

ul.tagit li.tagit-choice input {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding-top: 2px;
	padding-bottom: 2px;
}

ul.tagit li.tagit-choice a.tagit-close {
	color: #8A8A8A;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	outline: medium none;
	padding: 3px 0 2px 3px;
	text-decoration: none;
	position: absolute;
	display: block;
	top: 0;
	right: 3px;
}

ul.tagit li.tagit-choice a.tagit-close:hover {
	color: #f00;
}

ul.tagit div.tagit-label.hidden {
	display: none;
}

ul.tagit input.tagit-edit {
	margin: 0px 0px 0px 2px;
	border: none;
	line-height: 16px;
}

ul.tagit input[type="text"] {
	-moz-box-sizing: border-box;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: inherit !important;
	outline: none;
}

.tagit-hiddenSelect {
	display:none;
}
.tagit-input {
	/*height: auto !important;*/
	height: 35px !important;
}