#responsive-menu .appendLink,
#responsive-menu .responsive-menu li a,
#responsive-menu #responsive-menu-title a,
#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li,
#responsive-menu {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -o-box-sizing: content-box !important
}

.RMPushOpen {
    width: 100% !important;
    overflow-x: hidden !important;
    height: 100% !important;
}

.RMPushSlide {
    position: relative;
    left: 280px
}

#responsive-menu {
    position: fixed;
    width: 280px;
    left: -280px;
    top: 0px;
    background: #000000;
    z-index: 9999;
    box-shadow: 0px 1px 8px #333333;
    font-size: 13px !important;
    /*overflow-y: scroll;*/
    height: 120%;
    display: none
}
#responsive-menu .side-menu-wrapper{
    position: absolute;
    overflow-y: scroll;
}
#responsive-menu.admin-bar-showing {
    padding-top: 32px;
}

#click-menu.admin-bar-showing {
    margin-top: 32px;
}

#responsive-menu #rm-additional-content {
    padding: 10px 5% !important;
    width: 90% !important;
    color: #FFFFFF
}

#responsive-menu .appendLink {
    right: 0px !important;
    position: absolute !important;
    border: 1px solid #3C3C3C !important;
    padding: 12px 10px !important;
    color: #FFFFFF !important;
    background: #000000 !important;
    height: 20px !important;
    line-height: 20px !important;
    border-right: 0px !important
}

#responsive-menu .appendLink:hover {
    cursor: pointer;
    background: #3C3C3C !important;
    color: #FFFFFF !important
}

#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li,
#responsive-menu {
    text-align: left !important;
    overflow: auto;
}

#responsive-menu .RMImage {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block
}

#responsive-menu.RMOpened {}

#responsive-menu,
#responsive-menu input {}

#responsive-menu #responsive-menu-title {
    width: 95% !important;
    font-size: 14px !important;
    padding: 20px 0px 20px 5% !important;
    margin-left: 0px !important;
    background: #000000 !important;
    white-space: nowrap !important
}

#responsive-menu #responsive-menu-title,
#responsive-menu #responsive-menu-title a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    overflow: hidden !important
}

#responsive-menu #responsive-menu-title a:hover {
    color: #FFFFFF !important;
    text-decoration: none !important
}

#responsive-menu .appendLink,
#responsive-menu .responsive-menu li a,
#responsive-menu #responsive-menu-title a {
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all
}

#responsive-menu .responsive-menu {
    width: 100% !important;
    list-style-type: none !important;
    margin: 0px !important
}



#responsive-menu.responsive-menu ul {
    margin-left: 0px !important
}

#responsive-menu .responsive-menu li {
    list-style-type: none !important;
    position: relative !important
}

#responsive-menu .responsive-menu ul li:last-child {
    padding-bottom: 0px !important
}

#responsive-menu .responsive-menu li a {
    padding: 12px 0px 12px 5% !important;
    width: 95% !important;
    display: block !important;
    height: 20px !important;
    line-height: 20px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    color: #FFFFFF !important;
    border-top: 1px solid #3C3C3C !important;
    text-decoration: none !important
}

#click-menu {
    position: relative;
    float: left;
    left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 13px !important;
    display: none;
    top: 12px;
    background: #ffffff;
    padding: 5px;
    z-index: 9999
}

#responsive-menu #responsiveSearch {
    display: block !important;
    width: 95% !important;
    padding-left: 5% !important;
    border-top: 1px solid #3C3C3C !important;
    clear: both !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 40px !important;
    line-height: 40px !important
}

#responsive-menu #responsiveSearchSubmit {
    display: none !important
}

#responsive-menu #responsiveSearchInput {
    width: 91% !important;
    padding: 5px 0px 5px 3% !important;
    -webkit-appearance: none !important;
    border-radius: 2px !important;
    border: 1px solid #3C3C3C !important
}

#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li {
    width: 100% !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    font-size: 18px;
    font-weight: bold;
    overflow: initial;
}



#responsive-menu .responsive-menu li.no_url {
    text-align: center !important;
    color: #676767;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    font-size: 12px;
}


.no-touch #responsive-menu .responsive-menu li:hover a.first_level, .no-touch #responsive-menu .responsive-menu li:hover .appendLink, .no-touch #responsive-menu .responsive-menu li .second_level:hover
{
    background-color: #e23129 !important;
}
#responsive-menu .responsive-menu li li a {
    padding-left: 10% !important;
    width: 90% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li a {
    padding-left: 15% !important;
    width: 85% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li li a {
    padding-left: 20% !important;
    width: 80% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li li li a {
    padding-left: 25% !important;
    width: 280px !important;
    overflow: hidden !important
}

#click-menu #RMX {
    display: none;
    font-size: 24px;
    line-height: 27px !important;
    height: 27px !important;
}

#click-menu .threeLines {
    width: 33px !important;
    height: 27px !important;
    margin: auto !important
}

#click-menu .threeLines .line {
    height: 5px !important;
    margin-bottom: 6px !important;
    background: #a2a2a2 !important;
    width: 100% !important
}

#click-menu .threeLines .line.last {
    margin-bottom: 0px !important
}

@media only screen and (max-width: 939px) {
    #click-menu {
        display: block
    }
    #responsive-menu .responsive-menu li li li .appendLink,
    #responsive-menu .responsive-menu li li li li {
        display: none !important
    }
}