ul.dwls_search_results {
    display: block;
    background-color: #fff;
    max-height: 500px;
    position: absolute;
    top: 20px;
    left: 0;
    overflow: auto;
    z-index: 9999;
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
    padding: 0;
    margin: 0
}

ul.dwls_search_results li {
    display: block;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 0;
    text-align: left;
    text-decoration: none
}

ul.dwls_search_results li a,
ul.dwls_search_results li a:visited {
    display: block;
    margin-left: 0;
    padding-left: 0;
    text-decoration: none;
    font-weight: bold
}

ul.dwls_search_results .daves-wordpress-live-search_author {
    margin: 0;
    font-size: 90%;
    font-weight: bold
}

ul.dwls_search_results .daves-wordpress-live-search_date {
    margin: 0;
    font-size: 90%
}

ul.dwls_search_results li.post_with_thumb a {
    width: 150px;
    float: left;
    margin-bottom: 5px
}

ul.dwls_search_results li.post_with_thumb .post_thumb {
    float: left;
    margin: 3px 10px 10px 0;
    height: 48px;
    width: 48px
}

ul.dwls_search_results .excerpt,
ul.dwls_search_results .meta {
    font-size: 75%;
    width: 100%
}

ul.dwls_search_results .clearfix {
    float: none !important;
    clear: both !important
}

.search_footer {
    width: 100%;
    text-align: right;
    padding: .5em 0;
    font-size: .9em
}

.search_footer a,
.search_footer a:visited {
    margin-right: 1em;
    text-decoration: none
}

.dwls_search_results_activity_indicator {
    z-index: 999999
}